@import "~vuetify/src/styles/styles.sass";
@import "~assets/mixins.scss";
@import "~assets/fonts/IranYekan/fontiran.css";

$body-font-family: 'iranyekan', sans-serif !default;
.v-application--wrap {
  font-family: 'iranyekan', sans-serif !important;
  font-weight: 600 !important;
}
.v-application {
  font-family: 'iranyekan', sans-serif !important;
}

body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
label,
td,
div,
.v-card__title {
  font-family: 'iranyekan', sans-serif !important;
  font-weight: 600 !important;
}
th {
  font-size: 15px !important;
  font-weight: 900 !important;
}
.row {
  margin: 0 !important;
}
.section-border {
  border: 1px solid #e8eaf6;
  border-radius: 5px;
  padding: 10px;
}
.v-dialog {
  position: absolute;
  top: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.vpd-input-group input {
  border: 1px solid #959595 !important;
  height: 40px !important;
  border-radius: 3px !important;
  background-color: #f0f0f0 !important;
  width: 100% !important;
}
.vpd-icon-btn {
  position: relative !important;
  background-color: rgb(103 103 103) !important;
  border-radius: 3px !important;
  margin-right: 18px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  left: -2px !important;
}
.v-tooltip__content {
  pointer-events: all !important;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

legend, label {
  text-align: right;
}
